{% extends 'layout.html' %} <!-- herda características contidos em layout-->
{% block body %}

<link rel="stylesheet" type="text/css" href="../static/folhaestilo.css"> <!-- link para folha de estilo CSS-->

<style>
    body{ position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url("../static/wall-rec_80.png"); 
        }
          
      div#m1{ background-image: url("../static/SAMSUNG.jpg"); }

      div#m2{ background-image: url("../static/LG.jpg"); }

      div#m3{ background-image: url("../static/CCE.png"); }

      div#m4{ background-image: url("../static/philco.png"); }

      div#m5{ background-image: url("../static/sony.jpg"); }

      div#m6{ background-image: url("../static/toshiba.jpg"); }

      div#m7{ background-image: url("../static/philips.jpg"); }

      div#m8{ background-image: url("../static/aiwa.jpeg"); }

      div#m9{ background-image: url("../static/eletrolux.jpg"); }
        
      div#m10{ background-image: url("../static/bratemp.png"); }

      div#m11{ background-image: url("../static/aoc.jpg"); }
        
      div#m12{ background-image: url("../static/tcl.png"); }

</style>

<body>
     <br>

    <div class="titulo"> Eletrônica Dom Bosco</div>
    <div class="titulo2"> Assistência técnica especializada</div>
    <br>
    <br>
    <div class="titulo3"> TV LCD - Som - Microondas</div>
    <br>
    <br>
    <br>
    <br>

<!-- logotipos marcas-->
<div class="moldura" id="m1">  </div>
<div class="moldura" id="m2">  </div>
<div class="moldura" id="m3">  </div>
<div class="moldura" id="m4">  </div>
<div class="moldura" id="m5">  </div>
<div class="moldura" id="m6">  </div> 
<div class="moldura" id="m7">  </div>
<div class="moldura" id="m8">  </div>
<div class="moldura" id="m9">  </div>
<div class="moldura" id="m10"> </div> 
<div class="moldura" id="m11"> </div>
<div class="moldura" id="m12"> </div>
    
</body>

{% endblock %}